.right {
    text-align: right;
}

.center {
    text-align: center;
}

.openweatherTable {
    width: 100%;
}

.openweatherTable.paddingRight {
    padding-right: 10px;
}

.ocDashboard.openweather .width13 {
    width: 33%;
}