li.Civ{
    list-style-type: none;
    background-color: #f3e4b6;
    height: 280px;
    width: 280px;
}
li.Civ *{
    font-family: Papyrus;
    color: #000000;
}
.ember-application {
    margin: 20px;
}
