body{
background-color: #CCC444;

}
.ecloud-dialog {
  background-color:#cccccc;
  height: 560px;
  border-radius: 8px;
}
.ecloud-dialog-header{
  background-color:whitesmoke;
  height: 120px;
 border-top-right-radius: 8px;
 border-top-left-radius: 8px;
  font-family: Segoe UI;
text-align: center;
}