<!-- INCLUDE gallery/header.html -->
<h2>{WHOS_PHOTOS}</h2>
	<!-- BEGIN catrow -->
		<!-- IF catrow.S_FIRST_ROW -->
			<div class="panel">
				<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon">
							<dt>{L_CATEGORY}</dt>
							<dd class="photos">{L_PHOTOS}</dd>
							<dd class="comments">{L_COMMENTS}</dd>
							<dd class="gviews">{L_VIEWS}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist gallerylist">
		<!-- ENDIF -->
		<li class="bg<!-- IF catrow.S_ROW_COUNT is even -->1<!-- ELSE -->2<!-- ENDIF --> row">
			<dl class="icon" style="background-image: url({T_IMAGESET_PATH}/icon_camera.gif); background-repeat: no-repeat;">
				<dt>
					<!-- IF catrow.GALLERY_IMAGE --><div class="forum-image">{catrow.GALLERY_IMAGE}</div><!-- ENDIF -->
					<a href="{catrow.U_GALLERY_LINK}" class="forumtitle">{catrow.GALLERY_NAME}</a><br />
					{catrow.GALLERY_DESC}
				</dt>
				<dd class="photos">{catrow.GALLERY_PHOTOS}</dd>
				<dd class="comments">{catrow.GALLERY_COMMENTS}</dd>
				<dd class="gviews">{catrow.GALLERY_VIEWS}</dd>
			</dl>
		</li>
		<!-- IF catrow.S_LAST_ROW -->
		</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->
	<!-- END catrow -->
<!-- IF PAGINATION -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div>{PAGINATION}</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- IF GALLERY_NAME -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h1 class="gallery">{GALLERY_NAME}</h1>
		<p>{GALLERY_DESC}</p>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- IF S_PHOTOS -->
	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div id="main-content">
			<ul>
				<!-- BEGIN imagerow -->
					<li>
						<span class="rtop">
							<span class="r1"></span>
							<span class="r2"></span>
							<span class="r3"></span>
							<span class="r4"></span>
						</span>
						<div id="nifty">
							<a href="{imagerow.U_IMAGE_DOWNLOAD}">
								<img src="{imagerow.U_IMAGE_THUMBNAIL}" title="{imagerow.PHOTO_NAME}" alt="{imagerow.PHOTO_NAME}" />
							</a>
						</div>
						<div id="nifty2">
							<p class="image">{L_POSTER}: {imagerow.USERNAME_FULL}</p>
							<p class="image">{imagerow.PHOTO_NAME}</p>
							<!-- IF imagerow.PHOTO_COMMENT --><p class="image"><!-- IF imagerow.PHOTO_MOUSEOVER --><a href="#" class="comment" title="{imagerow.PHOTO_MOUSEOVER}">{imagerow.PHOTO_COMMENT}</a><!-- ELSE -->{imagerow.PHOTO_COMMENT}<!-- ENDIF --></p><!-- ENDIF -->
							<p class="image">{L_VIEWS}: {imagerow.IMAGE_VIEWS}</p>
							<p class="image">{imagerow.IMAGE_TIME}</p>
						</div>
						<span class="rbottom">
							<span class="r4"></span>
							<span class="r3"></span>
							<span class="r2"></span>
							<span class="r1"></span>
						</span>
					</li>
				<!-- BEGINELSE -->
					<li>
						<span class="rtop">
							<span class="r1"></span>
							<span class="r2"></span>
							<span class="r3"></span>
							<span class="r4"></span>
						</span>
						<div style="font-size:1.6em; font-weight:bold;">&nbsp;{L_NO_IMAGES}&nbsp;</div>
						<span class="rbottom">
							<span class="r4"></span>
							<span class="r3"></span>
							<span class="r2"></span>
							<span class="r1"></span>
						</span>
					</li>				
				<!-- END imagerow -->
			</ul>
		</div>
	
		<span class="corners-bottom"><span></span></span></div>
	
		<!-- IF PAGINATION -->
			<div class="inner"><span class="corners-top"><span></span></span>
				<div>{PAGINATION}</div>
			<span class="corners-bottom"><span></span></span></div>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->
<!-- INCLUDE gallery/footer.html -->