<!-- INCLUDE gallery/header.html -->
<h2>{WHOS_PHOTOS}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div id="main-content">
		<ul>
			<!-- BEGIN imagerow -->
				<li>
					<span class="rtop">
						<span class="r1"></span>
						<span class="r2"></span>
						<span class="r3"></span>
						<span class="r4"></span>
					</span>
					<div id="nifty">
						<a href="{imagerow.U_IMAGE_DOWNLOAD}">
							<img src="{imagerow.U_IMAGE_THUMBNAIL}" title="{imagerow.PHOTO_NAME}" alt="{imagerow.PHOTO_NAME}" />
						</a>
					</div>
					<div id="nifty2">
						<p class="image">{L_POSTER}: {imagerow.USERNAME_FULL}</p>
						<p class="image">{imagerow.PHOTO_NAME}</p>
						<!-- IF imagerow.PHOTO_COMMENT --><p class="image"><!-- IF imagerow.PHOTO_MOUSEOVER --><a href="#" class="comment" title="{imagerow.PHOTO_MOUSEOVER}">{imagerow.PHOTO_COMMENT}</a><!-- ELSE -->{imagerow.PHOTO_COMMENT}<!-- ENDIF --></p><!-- ENDIF -->
						<p class="image">{L_VIEWS}: {imagerow.IMAGE_VIEWS}</p>
						<p class="image">{imagerow.IMAGE_TIME}</p>
					</div>
					<span class="rbottom">
						<span class="r4"></span>
						<span class="r3"></span>
						<span class="r2"></span>
						<span class="r1"></span>
					</span>
				</li>
			<!-- BEGINELSE -->
				<li>
					<span class="rtop">
						<span class="r1"></span>
						<span class="r2"></span>
						<span class="r3"></span>
						<span class="r4"></span>
					</span>
					<div style="font-size:1.6em; font-weight:bold;">&nbsp;{L_NO_IMAGES}&nbsp;</div>
					<span class="rbottom">
						<span class="r4"></span>
						<span class="r3"></span>
						<span class="r2"></span>
						<span class="r1"></span>
					</span>
				</li>				
			<!-- END imagerow -->
		</ul>
	</div>

	<span class="corners-bottom"><span></span></span></div>
	<!-- IF PAGINATION -->
		<div class="inner"><span class="corners-top"><span></span></span>
			<div>{PAGINATION}</div>
		<span class="corners-bottom"><span></span></span></div>
	<!-- ENDIF -->
</div>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="topic-actions">
			<div class="buttons"><div class="upload-icon"><a href="{U_UPLOAD}"><span>{L_UPLOAD}</span></a></div></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE gallery/footer.html -->