<!-- INCLUDE gallery/header.html -->
<h2>{WHOS_PHOTOS}</h2>
<div class="panel bg3" id="attach-panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<!-- IF I_IMAGE_THUMBNAIL -->
		<fieldset class="successbox">
			<dl><img src="{I_IMAGE_THUMBNAIL}" /></dl>
		</fieldset>
	<!-- ENDIF -->
	<form id="gallery_upload" method="post" action="{U_ACTION}" enctype="multipart/form-data">
		<fieldset class="fields2">
		<dl>
			<dt><label for="fileupload">{L_UPLOAD}:</label></dt>
			<dd>
				<input type="file" name="fileupload" id="fileupload" maxlength="{FILESIZE}" value="" class="inputbox autowidth" /> 
			</dd>
		</dl>
		<dl>
			<dt><label for="filename">{L_NAME}:</label></dt>
			<dd><input type="text" name="filename" id="filename" class="inputbox button2" size="42" /></dd>
		</dl>
		<dl>
			<dt><label for="filecomment">{L_COMMENT}:</label></dt>
			<dd><textarea name="filecomment" id="filecomment" rows="1" cols="40" class="inputbox autowidth">{FILE_COMMENT}</textarea></dd>
		</dl>
		</fieldset>
		<fieldset class="submit-buttons">
			<dl>
				<dt><input type="submit" name="submit" value="{L_SUBMIT}" class="button2" /></dt>
			</dl>
		</fieldset>
	</form>
	<span class="corners-bottom"><span></span></span></div>
</div>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="topic-actions">
			<div class="buttons"><div class="upload-icon"><a href="{U_UPLOAD}"><span>{L_UPLOAD}</span></a></div></div>
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE gallery/footer.html -->