
<div id="bar">
  <ul>
{% for item in asosbar %}
    <li class="menuItem">
       {{ item.title }}
       {% if item.type == "menu" %}
      <ul class="submenu">
        {% for subi in  item.submenu. %}  
         <li>{{ subi.title}}</li>
        {% endfor %}
      </ul>
      {% else %}
    </li>
   <li class="menuItem">{{ item.title }}</li>
  {% endif %}
 {% endfor %}
</ul>
</div>