/* proSilver Control Panel Styles
---------------------------------------- */


/* Main CP box
----------------------------------------*/
#gallery-menu {
	float:left;
	width: 19%;
	margin-top: 1em;
	margin-bottom: 5px;
}

#gallery-main {
	float: left;
	width: 95%;
}

#gallery-main .content {
	padding: 0;
}

#gallery-main h3, #gallery-main hr, #gallery-menu hr {
	border-color: #bfbfbf;
}

#gallery-main .panel p {
	font-size: 1.1em;
}

#gallery-main .panel ol {
	margin-left: 2em;
	font-size: 1.1em;
}

#gallery-main .panel li.row {
	border-bottom: 1px solid #cbcbcb;
	border-top: 1px solid #F9F9F9;
}

ul.gallerylist {
	margin-bottom: 5px;
	border-top: 1px solid #cbcbcb;
}

#gallery-main .panel li.header dd, #gallery-main .panel li.header dt {
	color: #000000;
	margin-bottom: 2px;
}

#gallery-main table.table1 {
	margin-bottom: 1em;
}

#gallery-main table.table1 thead th {
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #333333;
	padding: 5px;
}

#gallery-main table.table1 tbody th {
	font-style: italic;
	background-color: transparent !important;
	border-bottom: none;
}

#gallery-main .pagination {
	float: right;
	width: auto;
	padding-top: 1px;
}

#gallery-main .postbody p {
	font-size: 1.1em;
}

#gallery-main .pm-message {
	border: 1px solid #e2e2e2;
	margin: 10px 0;
	background-color: #FFFFFF;
	width: auto;
	float: none;
}

#gallery-main .postbody h3, #gallery-main .box2 h3 {
	margin-top: 0;
}

#gallery-main .buttons {
	margin-left: 0;
}

#gallery-main ul.linklist {
	margin: 0;
}

/* Preferences pane layout
----------------------------------------*/
#gallery-main h2 {
	border-bottom: none;
	padding: 0;
	margin-left: 10px;
	color: #333333;
}

#gallery-main .panel {
	background-color: #F9F9F9;
}

#gallery-main .pm {
	background-color: #FFFFFF;
}

#gallery-main span.corners-top, #gallery-menu span.corners-top {
	background-image: none;
}

#gallery-main span.corners-top span, #gallery-menu span.corners-top span {
	background-image: none;
}

#gallery-main span.corners-bottom, #gallery-menu span.corners-bottom {
	background-image: none;
}

#gallery-main span.corners-bottom span, #gallery-menu span.corners-bottom span {
	background-image: none;
}

/* Topicreview */
#gallery-main .panel #topicreview span.corners-top, #gallery-menu .panel #topicreview span.corners-top {
	background-image: none;
}

#gallery-main .panel #topicreview span.corners-top span, #gallery-menu .panel #topicreview span.corners-top span {
	background-image: none;
}

#gallery-main .panel #topicreview span.corners-bottom, #gallery-menu .panel #topicreview span.corners-bottom {
	background-image: none;
}

#gallery-main .panel #topicreview span.corners-bottom span, #gallery-menu .panel #topicreview span.corners-bottom span {
	background-image: none;
}

/* Preferences pane layout
----------------------------------------*/
#gallery-main h2 {
	color: #333333;
}

#gallery-main .panel {
	background-color: #F9F9F9;
}

#gallery-main .pm {
	background-color: #FFFFFF;
}

#gallery-main span.corners-top, #gallery-menu span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left2.gif");
}

#gallery-main span.corners-top span, #gallery-menu span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.gif");
}

#gallery-main span.corners-bottom, #gallery-menu span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left2.gif");
}

#gallery-main span.corners-bottom span, #gallery-menu span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right2.gif");
}

/* Topicreview */
#gallery-main .panel #topicreview span.corners-top, #gallery-menu .panel #topicreview span.corners-top {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

#gallery-main .panel #topicreview span.corners-top span, #gallery-menu .panel #topicreview span.corners-top span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}

#gallery-main .panel #topicreview span.corners-bottom, #gallery-menu .panel #topicreview span.corners-bottom {
	background-image: url("{T_THEME_PATH}/images/corners_left.gif");
}

#gallery-main .panel #topicreview span.corners-bottom span, #gallery-menu .panel #topicreview span.corners-bottom span {
	background-image: url("{T_THEME_PATH}/images/corners_right.gif");
}

dd.photos, dd.comments, dd.gviews {
	width: 10%;
	text-align: center;
	line-height: 2.2em;
	font-size: 1.2em;
}

dd.photos1, dd.comments1, dd.views1, dd.lastpost1 {
	width: 12%;
	text-align: center;
	line-height: 2.2em;
	font-size: 1.2em;
}

/* Nifty */
#main-content img {
	padding-top:2px;
	max-height: 15em;
	max-width: 15em;
}
#main-content li{
	padding:0;
/*	border:solid #CCC;
	background:#FFF;
	border-width:0 1px 1px 0;
	-moz-border-radius:20px;
	text-align:center;*/
	position:relative;
	float:left;
	display:inline;
	margin:5px;
}
div#nifty{
background: #e1ebf2;
padding: 0 .1em;
height: 16em;
width: 16em;
text-align:center;
}
div#nifty2{
background: #e1ebf2;
padding: 0 .1em;
width: 16em;
height: 7em;
text-align:center;
}
p.image{
	line-height:.3em;
}
span.rtop, span.rbottom{
display:block;
background: #FFFFFF;
}
span.rtop span, span.rbottom span{
display:block;
height: 1px;
overflow: hidden;
background: #e1ebf2;
}
span.r1{
margin: 0 5px
}
span.r2{
margin: 0 3px
}
span.r3{
margin: 0 2px
}
span.rtop span.r4, span.rbottom span.r4{
margin: 0 1px;
height: 2px
}
h1.gallery{
	color:#000000;
}
.photo {
	text-align:center;
	line-height:2em;
}
.fields1 {
	text-align:center;
}
.message-box {
	float: left;
}
legend {
	font-weight:bold;
	font-size:1.5em;
}

.upload-icon, .upload-icon a { background-image: url("{IMG_BUTTON_UPLOAD_SRC}"); }
.buttons div.upload-icon { width: {IMG_BUTTON_UPLOAD_WIDTH}px; height: {IMG_BUTTON_UPLOAD_HEIGHT}px; }

/* Action Highlighting
---------------------------------------- */
.successbox, .errorbox {
	padding: 8px;
	width: 20em;
	float:right;
	margin-right: 10em;
	color: #FFFFFF;
	text-align: center;
}

.success {
	color: #228822;
}

.error {
	color: #BC2A4D;
}

.successbox {
	background-color: #228822;
}

.errorbox {
	background-color: #BC2A4D;
}

* html .errorbox, * html .successbox { height: 1%; } /* Pixel shift fix for IE */

.successbox h3, .errorbox h3 {
	color: #FFFFFF;
	margin: 0 0 0.5em;
	font-size: 1.10em;
	font-family: "Lucida Grande",Verdana,Helvetica,Arial,sans-serif;
}

.successbox p, .errorbox p {
	color: #FFFFFF;
	font-size: 0.85em;
	margin-bottom: 0;
}

.errorbox a:link, .errorbox a:active, .errorbox a:visited,
.successbox a:link, .successbox a:active, .successbox a:visited {
	color: #DBD7D1;
	text-decoration: underline;
	font-weight: bold;
}

.errorbox a:hover, .successbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

/* Special cases for the error page */
#errorpage #page-header a {
	font-weight: bold;
	line-height: 6em;
}

#errorpage #content {
	padding-top: 10px;
}

#errorpage #content h1 {
	color: #DF075C;
}

#errorpage #content h2 {
	margin-top: 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 5px;
	color: #333333;
}