body {
				
       background:black;
			
	color:white;
			
	text-align:center;	
				
        font-family: Segoe UI, Arial, Helvetica, sans-serif;
			
	font-size:14px;			
			
}
			
		
canvas {
				
      border:1px solid white;	
				

      cursor:url(images/cursors/blank.gif),none !important;
				
     background-image: url(images/loading.gif),url(images/htitle.jpeg);
				
      background-position: center bottom,center;
				
       background-repeat: no-repeat,no-repeat;
			}
			
    #debugger {
				
    border:1px solid white;	
				
    font-size:12px;
				
   padding:5px;
				
  overflow:auto;
				
  height:400px;		
			
}
			
			
#specialcontrols{
				
display:none;
			
}
			
			
@font-face {
				
font-family:'Command and Conquer';
				
src:url('images/sidebar/cnc.ttf');
			
}
			
			
div {
				
border:0px solid red;
			
}
			
			
#leftcontent {
				
float:left;
				
   width:450px;
				
padding:10px;
				
text-align:left;	
			
}
			
			
#rightcontent {
				
float:left;
				
width:640px;
				
padding:10px;
				
text-align:left;	
		
	}
			
			
#rightmostcontent {
				
text-align: left;
				
float:right;
				
margin:10px;
				
margin-top:0px;
				
vertical-align:middle;
			
	display:none;
			
}
			
			
H1{
				
color:yellow;
				
text-align:left;		
			
}		
			
			
#header {
				
padding-bottom:20px;
			
}
