<div class="panel bg3" id="phpBBFolk-panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<!-- IF S_TOPIC_TAGGING -->
	<p>{L_PBF_ADD_TAGS_DESCRIPTION}</p>
	<!-- ENDIF -->

	<fieldset class="fields2">
	<!-- IF S_TOPIC_TAGGING -->
		<dl>
			<dt><label for="poll_option_text">{L_PBF_TAGS}:</label><span></dt>
			<dd><textarea name="pbf_tags" id="pbf_tags" rows="5" cols="35" class="inputbox"></textarea></dd>
		</dl>
	<!-- ENDIF -->
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
