.apps{
  background-color: #CE4E30;
  height: 561px;
}
*{
font-family: Segoe UI;
}
.apps-header h1{
text-align: center;
}
.apps-header{
background-color: #554ECB;
}
.apps-header, .apps{
border-top-left-radius: 12px;
border-top-right-radius: 12px;
}
.apps .navbar ul{
list-style-type: none;
display: inline;
}