html,body{
  margin:0;
  padding:0;
  height:100%;
}

#desktop{
  background:#2c609b;
  height:100%;
  font:12px "Segoe UI";
  position:relative;
  -webkit-box-shadow: inset 0 -200px 100px #032b5c,
                      inset -100px 100px 100px #2073b5,
                      inset 100px 200px 100px #1f9bb1;
  moz-box-shadow:inset 0 -200px 100px #032b5c,
                      inset -100px 100px 100px #2073b5,
                      inset 100px 200px 100px #1f9bb1;
  box-shadow:inset 0 -200px 100px #032b5c,
                      inset -100px 100px 100px #2073b5,
                      inset 100px 200px 100px #1f9bb1;
  overflow:hidden;
}
#startmenu{
  position:absolute;
  bottom:0;
  height:40px;
  width:100%;
  background: rgba(178, 215, 255, .25);
  -webkit-box-shadow: rgba(0,0,0, 0.25) 0 -2px 20px;
}
#startmenu  button{
    font-size:14px;
    color:#fff;
    text-shadow: 1px 2px 2px #00294b;
  }
#startmenu #winflag{
    float:left;
    margin:2px;
    height:34px;
    width:80px;
    margin-right:10px;
    border:none;
    background:#034a76;
    -webkit-border-radius: 40px;
    -webkit-box-shadow:0 0 1px #fff, 0 0 3px #000, 0 0 3px #000;
  }
#startmenu .application{
    position: relative;
    bottom:1px;
    height:38px;
    width:52px;
    background:rgba(14, 59, 103, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.8);
    -webkit-transition:.3s all;
    -webkit-border-radius: 4px;
    -webkit-box-shadow:inset 0 0 1px #fff,
                       inset 4px 4px 20px rgba(255, 255, 255, 0.33),
                       inset -2px -2px 10px rgba(255, 255, 255, 0.25);
}
#startmenu .application:hover{
  background:rgba(255, 255, 255, 0.25);
}
.window{
  position:absolute;
  left:150px;
  top:75px;
  width:400px;
  height:400px;
  padding:7px;
  border: 1px solid rgba(255, 255 ,255, 0.6);
  background:rgba(178, 215, 255, 0.75);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 16px #000,
                      0 0 1px #000,
                      0 0 1px #000;
  text-shadow:0 0 15px #fff, 0 0 15px #fff;
}
.window span{
  display:block;
}
.window #winInput{
  margin:10px 0;
}
.window input{
  -webkit-border-radius:2px;
  -webkit-box-shadow: 0 0 2px #fff,
                      0 0 1px #fff;
}
.window input + input{
  margin-left:12px;
}
.window.secondary{
  left:300px;
  top:125px;
  opacity:0.66;
}
.window.secondary span{ margin-bottom:85px; }
.window .content{
  padding:10px;
  height:279px;
  background:#fff;
  border: 1px solid #000;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 1px #fff;
  text-shadow:none;
}