
/* ArcherSys Desktop */


/* @group Animation */
/* Defines the bounce animation. Note that only the up motion is defined as
   the down motion is created automatically using
   `animation-direction: alternate;`. */

@-webkit-keyframes bounce {
	  0% { -webkit-transform: translateY(0); }
	100% { -webkit-transform: translateY(-20px); }
}

@-moz-keyframes bounce {
	  0% { -moz-transform: translateY(0); }
	100% { -moz-transform: translateY(-20px); }
}
/* @end */

/* @group Dock */
.dock {
	position: absolute;
	bottom: 40;
	z-index: 10;
	width: 100%;
	text-align: center;
	font: normal 14px/1 'Lucida Grande', Arial, sans-serif;
}

.dock ul {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	margin: 0;
	background: url(images/dock-m.png) repeat-x bottom;
}

/* Creates the left and right end caps of the dock. You may not need these
   when creating your own dock. */
.dock ul:before, .dock ul:after {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 31px;
}

.dock ul:before {
	left: -31px;
	background: url(images/dock-l.png) no-repeat left bottom;
}

.dock ul:after {
	right: -31px;
	background: url(images/dock-r.png) no-repeat right bottom;
}
/* @end */

/* @group Items */
/* Defines a dock item. Note the `-webkit-box-reflect` property which creates
   a nice reflection below the item. The gradient is a mask in order to
   exlcude the status indicator from the reflection. */
.dock li {
	display: inline-block;
	position: relative;
	margin: 0 1px;
	margin-bottom: 15px;
	vertical-align: baseline;
	-webkit-box-reflect: below -16px -webkit-gradient(
		linear, left top, left bottom,
		from(transparent),
		color-stop(91%, rgba(255, 255, 255, .1)),
		color-stop(91.01%, transparent),
		to(transparent)
	);
}

.dock a {
	display: inline-block;
	cursor: default;
	outline: none;
}
/* Applies the bounce animation to the targeted dock item.  */
.dock li:target a {
	-webkit-animation: bounce .3s 6 alternate ease-out;
	-moz-animation: bounce .3s 6 alternate ease-out;
}

/* Generates the status indicator. Looks complex but most of this stuff is
   just repetition with different vendor prefixes. Isn't it fun to write
   everything three times? *sigh* */
.dock li:after {
	content: " ";
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 5px;
	height: 5px;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(255, 255, 255, .8);
	margin-left: -2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:
		inset 0 1px 3px rgba(75, 255, 255, .4),
		0 0 4px rgba(75, 255, 255, .5),
		0 -1px 7px rgb(75, 255, 255);
	-moz-box-shadow:
		inset 0 1px 3px rgba(75, 255, 255, .4),
		0 0 4px rgba(75, 255, 255, .5),
		0 -1px 7px rgb(75, 255, 255);
	box-shadow:
		inset 0 1px 3px rgba(75, 255, 255, .4),
		0 0 4px rgba(75, 255, 255, .5),
		0 -1px 7px rgb(75, 255, 255);
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
}

/* Displays the status indicator of the targeted dock item. */
.dock li:target:after {
	visibility: visible;
	opacity: 1;
}
/* @end */

/* @group Label */
/* This is just a wrapper in order to center the actual label horizontally.
   You may need to adjust the width negative margin if you have really long
   labels. */
.dock em {
text-decoration: none;
	position: absolute;
	top: -34px;
	left: 50%;
	display: none;
	width: 150px;
	margin-left: -75px;
        margin-bottom: 100px;
	text-align: center;
}

/* Generates the little arrow at the bottom of the label. */
.dock em:after {
	content: " ";
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, .6);
	border-bottom: none;
}

/* This is the actual label. */
.dock em span {
	display: inline-block;
	padding: 5px 12px;
	font-size: 14px;
	font-style: normal;
	color: #FFF;
	background: #000;
	background: rgba(0, 0, 0, .6);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
}

.dock li:hover em, .dock li a:focus em {
	display: block;
}
/* @end */

/* @group Icon */
/* Sets the icons to a smaller width so they can be enlarged and applies
   transitions for a smooth animation. Make sure to adjust the width so it
   matches your images. */
.dock img  .fa-wordpress{
	width: 86px;
	height: auto;
	border: none;
	-webkit-transition: width .2s, height .2s;
	-moz-transition: width .2s, height .2s;
	-o-transition: width .2s, height .2s;
}

.dock li:hover img, .dock li a:focus img {
	width: 96px;
}

.dock li:active img {
	opacity: .9;
}
/* @end */

* {
  margin: 0px;
  font-family: arial;
}
body, .main{
  background: url('http://www.tonymacx86.com/attachments/apple-news-rumors/58155d1370539336-mac-os-x-10-0-10-8-wallpaper-intro-videos-defaultdesktop.jpg') no-repeat;
  background-size: cover;
 
}
.desktop{
 width: 1261px;
}
#bar{
  width: 100%;
  height: 24px;
  background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

}
ul, li{
  list-style: none;
  padding: 0;
  cursor: default;
}

.menuItem{
 
  float: left;
  margin-right: 10px;
  padding-top: 3px;
  font-family: arial;
  color: #505050;
  padding: 3px 8px 3px 8px;
  
}

.menuItem:first-of-type{
  font-size: 1.2em;
  margin-left: 10px;
  padding: 3px 8px 0px 8px;
  height: 21px;
}
.menuItem:nth-child(2){
  font-weight: bold;
}
.menuItem:hover{
  background: #4096ee; /* Old browsers */
background: -moz-linear-gradient(top,  #4096ee 0%, #405fed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#405fed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4096ee 0%,#405fed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#405fed',GradientType=0 ); /* IE6-9 */
color: #fff;
}
ul li.menuItem ul.submenu {
  opacity: 1 !important;
  background-color: #fff;
  padding: 5px 5px 0px 15px;
  position: absolute;
  margin-top: -2px;
  margin-left: 10px;
  border-radius: 0px 0px 5px 5px;
  font-size: .85em;
  color: #333;
  border: 1px dashed black;
}

.submenu:hover, .submenu .menuItem:hover{
  background: #4096ee; /* Old browsers */
background: -moz-linear-gradient(top,  #4096ee 0%, #405fed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#405fed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4096ee 0%,#405fed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#405fed',GradientType=0 ); /* IE6-9 */
color: #fff;
}

.submenu .menuItem{
  
  float: left;
  margin-right: 100px;
  padding-top: 3px;
  font-family: arial;
  color: #505050;
  padding: 3px 8px 3px 8px;
  
}
.submenu > li.menuItem > ul.submenu li:first-of-type{
  font-size: 1.2em;
  margin-left: 40px;
  padding: 3px 8px 0px 8px;
  height: 21px;
}
.submenu .menuItem:nth-child(2){
  font-weight: bold;
}
#bar li.menuItem #status,li.menuItem #status:hover {
  position : fixed;
  width: 10%
  font : bold 1em sans-serif;
  color: #ffffff:
  padding : 0.5em;
  float: right;
  text-decoration: none;
}

#log {
  padding: 2.5em 0.5em 0.5em;
  font: 1em sans-serif;
}

.online {
  background-color: #aeee3a;
color: white;
font-family: Segoe UI;
align-self: right;
 text-decoration: none;
}
.online:hover{
text-decoration: none;
}

.NO-BIRD {
  background: red;
align-self: right;
 text-decoration: none;
}
.BIRD {
  background-color: #aeee3a;
color: white;
font-family: Segoe UI;
align-self: right;
 text-decoration: none;
}
.online:hover{
text-decoration: none;
}

.offline {
  background: red;
align-self: right;
 text-decoration: none;
}
.submenu li{
  padding: 2px 0px;
  
}
.submenu li:hover{
  
  background: #4096ee; /* Old browsers */
background: -moz-linear-gradient(top,  #4096ee 0%, #405fed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#405fed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4096ee 0%,#405fed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4096ee 0%,#405fed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#405fed',GradientType=0 ); /* IE6-9 */
}

.submenu hr{
  width: 110%;
  margin: 5px 0px 5px -15px;
}


.timeframe {
  transition: opacity .5s;
  z-index: 100;
  text-align: center;
  cursor: pointer;
}
time { font-size: 6rem; line-height: 8rem; }
h2 {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.timeframe h2:before,
.timeframe h2:after {
  content: "\2022";
  color: rgba(200,200,200,.8);
  padding: 0 .2rem;
}
input:checked ~ .timeframe { opacity: 0; }

           .dialog_form th{
             text-align:left;
             border-radius: 3px;
             font-family:Segoe UI, Century Gothic;
           }
           .dialog_form textarea, .dialog_form input[type=text]{
             width: 320;
             font-family: Segoe UI Light, Verdana;
             font-weight: bold;
           }
           #dialog_window_minimized_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
}
 .window{
width: 1100px;
height: 380px;
}