body{
  font-family:Segoe UI;
  background-color: #00004e;
 
}

.asos-config-header{
   color: #0000c0;
   background-color: #cccccc;
   width: 1261px;
    height: 60px;
   border-radius: 4.99px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   
}
.asos-config-header-heading{
  text-align: center;
  
}