body{
  

font-family:Segoe UI;
  

background-color: #00004e;
 


}

.asos-config-ui-field{
  

border-top-right-radius: 9px;
 
border-bottom-right-radius: 9px;
   


}

.asos-config-ui-field.asos-config-is-vital{
   
width: 980px;
   
height: 30px;
   
background-color: silver;
 
  background-blend-mode: color-burn;
  
 border-color: silver;
 
  border-style: none;
   
 left: 500px;
   
  

-webkit-text-fill-color: #000000
}

.asos-config-header{
 
 
 color: #0000c0;
   

background-color: #cccccc;
 
  
width: 1008px;
    

height: 60px;
  
 
border-radius: 4.99px;
  
 
border-top-left-radius: 15px;
  
 
border-top-right-radius: 15px;
 
  

}


.asos-config-header-heading{
 
 
text-align: center;
 
 

}

.asos-config{  
   
background-color: whitesmoke;
   

border-top-left-radius: 15px;
   

border-top-right-radius: 15px;
}


h2.asos-config-ui-header{
   
text-align: center;

}