.task.calendar {
    font-weight: bold;
    padding-top: 10px;
    clear: both;
}

.newtask {
    display: none;
}

#addTask {
    position: relative;
    top: -209px;
    width: 22px;
    left: 250px;
    font-size: 1.7em;
}

#addTask:hover {
    cursor: pointer;
}