@CHARSET "UTF-8";

.activity-entry span {
    white-space: nowrap;
    font-size: 0.7em;
}

.activity-entry {
    line-height: 1;
    padding-bottom: 5px;
}

.priority50 {
    color: darkred;
}

.priority40 {
    color: darkorange;
}

.priority30 {
    color: black;
}

.priority20 {
    color: darkblue;
}

.priority10 {
    color: darkgreen;
}

.h30break {
    height: 30px;
    clear: both;
}