.ocDashboard.bookmarks {
    text-align: left;
    font-weight: bold;
}
.ocDashboard.bookmarks.item {
    border-top: 1px solid #ddd;
    transition: background-color 0.3s;
    border-radius: 3px;
}
.ocDashboard.bookmarks.item:hover {
    background: #eee;
}
.ocDashboard.bookmarks.item a {
    display: block;
    padding: .3em .5em;
}