html {
overflow: auto;
}

#clock{
position: absolute;
left:5px;
top:5px;
width: 100px;
height: 70px;
border: 1px solid black;
padding: 2px;
background-color: #e5ebf3;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-size: 15px;
text-align: center;
}

#time{
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-size: 20px;
text-align: center;
}

#draftOrderdiv{
position: absolute;
left:5px;
top: 76px;
width: 600px;
height: 
}

#leftborderdiv{
position: absolute;
top: 115;
left: 0;
padding: 0;
margin:0;
background-color: #121055;
height: 485;
width: 115;
}

#draftOrderdiv ul{
position: absolute;
left: 0;
top: 0;
margin-left: 0;
padding-left: 0;
}


#draftOrderdiv li{
/*position: absolute;*/
list-style-type:none;
background-color: #e5ebf3;
margin-top: 1px;
padding-left: 2px;
padding-top: 0px;
width: 100px;
height: 15px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;

font-size: 12px;
}


#searchPlayersdiv{
position: absolute;
top: 115;
left: 135;
width: 305px;
height: 25px;
overflow: auto;
background-color: #e5ebf3;
border: 1px solid black;
z-index: 200;
}


#availPlayersdiv{
position: absolute;
top: 140;
left: 135;
width: 305px;
height: 390px;
overflow: auto;
background-color: #e5ebf3;
border: 1px solid black;
z-index: 200;
}

#selectPlayerdiv{
position: absolute;
top: 531;
left: 135;
border: 1px solid black;
overflow: auto;
z-index: 300;

}

#selectPlayerdiv input{
width: 305px;
}


#availPlayersdiv table{
width:280px;
text-align: left;
padding: 0px;
border: 1px;
border-collapse: collapse;
border-spacing: 0px;
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
        font-size: 10px;
        color: black;
background-color: #e5ebf3;
overflow:auto;
}

#availPlayersdiv tr{
height: 14px;
padding: 0px;
}

#chatDisplaydiv{
position: absolute;
border: 1px solid black;
top: 5px;
left: 460px;
width: 325px;
height: 300px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
        font-size: 10px;
        color: black;
overflow: auto;
background-color: #e5ebf3;

}

#chatboxdiv{
position: absolute;
top: 308px;
left: 460px;
width: 325px;
}

#chatboxdiv input{
width: 280px;
}

#rostersSelectdiv{
position: absolute;
top: 333px;
left: 460px;
width: 325px;
height: 25px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
        font-size: 10px;
        color: black;
}

#rostersSelectdiv select{
width: 250px;
}

#rostersdiv{
position: absolute;
top: 360px;
left: 460px;
width: 325px;
height: 240px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
        font-size: 10px;
        color: black;
overflow: auto;
border: 1px solid black;
background-color: #e5ebf3;
}

#rostersdiv table{
width:305px;
text-align: left;
padding: 0px;
border: 1px;
border-collapse: collapse;
border-spacing: 0px;
 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
        font-size: 10px;
        color: black;
background-color: #e5ebf3;
overflow:auto;
}

#rostersdiv tr{
height: 14px;
padding: 0px;
}

#logodiv{
position: absolute;
top:0px;
left:0px;
width:280px;
height:103px;
background-color:white;
}

#draftnowdiv{
position: absolute;
top: 0px;
left:280px;
width:160px;
height:103px;
background-color: white;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
        font-size: 30px;
        color: red;
}

#adminarea{
position: absolute;
top: 640px;
left: 0px;
width: 750px;
height:140px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-size: 10px;
color: black;
}

.main_title{font-size:16px;font-weight:bold;}
.thirteen_title{font-size:13px;font-weight:bold;}
.tablerowline{background:#101052;}
body{
/*background-color: #D2D29E;*/
background-color: #5c81b1;
z-index: 1;
}