

body{background:#ecf0f6;color:#000000;font:12px Verdana,Arial,Helvetica,sans-serif;margin:6px;padding:0;
scrollbar-3dlight-color:#d1d7dc;
scrollbar-arrow-color:#006699;
scrollbar-darkshadow-color:#98aab1;
scrollbar-face-color:#dee3e7;
scrollbar-highlight-color:#ffffff;
scrollbar-shadow-color:#dee3e7;
scrollbar-track-color:#efefef}

font,th,td, p{font:12px Verdana,Arial,Helvetica,sans-serif}

th{background:#121055 url(images/cellheaderpic.gif);color:#E6ECF4;font-size:11px;
font-weight:bold;height:27px;text-align:center;padding-left:8px;padding-right:8px}

.date_title{font-size:11px;font-weight:bold;color:#121055}
.update_title{font-size:13px;font-weight:bold;color:#121055}
.main_title{font-size:16px;font-weight:bold;color:#121055}
.thirteen_title{font-size:13px;font-weight:bold;color:#121055}
.twelve_title{font-size:12px;font-weight:bold;color:#121055}
.eleven_title{font-size:11px;font-weight:bold;color:#121055}
.live_scoring_data{font-size:9px;color:#121055}
.live_scoring_data_title{font-size:9px;font-weight:bold;color:#121055}
.live_scoring_data_green{font-size:9px;color:#009933}
.live_scoring_data_green_title{font-size:9px;font-weight:bold;color:#009933}
.table_data_small{font-size:9px;color:#121055}
.table_data_normal{font-size:11px;color:#121055}
.table_data_large{font-size:12px;color:#121055}
.table_data_bold_small{font-size:9px;font-weight:bold;color:#121055}
.table_data_bold_normal{font-size:11px;font-weight:bold;color:#121055}
.table_data_bold_large{font-size:12px;font-weight:bold;color:#121055}

.header_text_trade_pending{font-size:11px;font-weight:bold;color:#CC0000}
.table_row_title{font-size:12px;font-weight:bold;color:#121055}
.table_toprow_title_sml{font-size:11px;font-weight:bold;color:#121055}
.table_row_title_subheader{font-size:10px;font-weight:bold;color:#121055}

.standings_page_footer{font-size:10px;font-weight:bold;color:#121055}

.draft_main_title_large{font-size:20px;font-weight:bold;color:#121055}
.draft_main_title_normal{font-size:18px;font-weight:bold;color:#121055}
.draft_main_title_small{font-size:16px;font-weight:bold;color:#121055}

.draft_title_large{font-size:18px;font-weight:bold;color:#121055}
.draft_title_normal{font-size:16px;font-weight:bold;color:#121055}
.draft_title_small{font-size:14px;font-weight:bold;color:#121055}

.draft_text_large{font-size:16px;font-weight:bold;color:#121055}
.draft_text_normal{font-size:14px;font-weight:bold;color:#121055}
.draft_text_small{font-size:12px;font-weight:bold;color:#121055}

.errors{font-size:12px;font-weight:bold;color:red}

.eleven{font-size:11px;font-weight:normal;color:#121055}
.eleven_nocolor{font-size:11px;font-weight:normal;}

.gensmall{font-size:10px}
td.genmed,.genmed{font-size:11px}
.explaintitle{font-size:11px;font-weight:bold;color:#5c81b1}

a:link,a:active,a:visited,a.postlink{color:#006699;text-decoration:none}
a:hover{color:#121055}

a.act{font-weight:bold}
a.act:visited{color:#FFA215}
a.act:hover{color:#121055}

.bodyline{background:#ffffff;border:1px solid #98aab1}

.tablerowline{background:#101052;}
.tableline{background:#ffffff;border:1px solid #1C88B7}

/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1{
font:bold 20px/120% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-decoration:none;color:#5c81b1}

.subtitle,h2{font:bold 10px/100% "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
text-decoration:none}


a.but,a.but:hover,a.but:visited{color:#000000;text-decoration:none}


/* This is the gradient background at the top of the page */
.topbkg{background: #dbe3ee url(images/cell_bg.jpg) repeat-x}
.topnav{font-size:10px;background: #e5ebf3 url(images/cell_navigation.gif) repeat-x;color:#121055;
height:21px;white-space:nowrap;border: 0px solid #91a0ae;border-width: 1px 0px 1px 0px}

/* Specify the space around images */
.imgtopic,.imgicon{margin-left:3px}
.imgspace{margin-left:1px;margin-right:2px}
.imgfolder{margin:1px 4px 1px 4px}

img{border:0 solid}

.tbl{border-collapse:collapse;height:4px;width:100%}
.tbll{background: url(images/tb4_l.gif) no-repeat;width:8px}
.tblbot{background: url(images/tb4_m.gif) repeat-x;width:100%}
.tblr{background: url(images/tb4_r.gif) no-repeat;width:8px}

.toprow{background:#eaedf4}

.forumline{background:#ffffff;border:1px solid #006699}

.clear_waivers_data_normal{font-size:11px;color:#CC0000}
.clear_waivers_data_normal A:link {font-size:11px;color:#990000}
.clear_waivers_data_normal A:visited {font-size:11px;color:#990000}
.clear_waivers_data_normal A:active {font-size:11px;color:#990000}
.clear_waivers_data_normal A:hover {color: #121055;}

.clear_waivers_data_large{font-size:12px;color:#CC0000}
.clear_waivers_data_large A:link {font-size:12px;color:#990000}
.clear_waivers_data_large A:visited {font-size:12px;color:#990000}
.clear_waivers_data_large A:active {font-size:12px;color:#990000}
.clear_waivers_data_large A:hover {color: #121055;}

/*Table Striping*/

.stripeMe th{
background: #FFFFFF;
font-size:12px;font-weight:bold;color:#121055;
border-bottom:8px solid #101052;
}
tr.alt td {
background: #E7EBF7;
}
tr.over td{
background: #D3D3D3;
}