
*{
   cursor: url("gfx/cursors/cursor-main.png");
}
.asos-header{
background-color: silver;

border-top-left-radius: 10px;
border-top-right-radius: 10px;
width: 1008px;
height: 100px;
}
.asos-header h1{
  font-family: Segoe UI;
  text-align: center;
  color: whitesmoke;
 }
.asos-close-button{
background-color: red;
  width: 20px;
  border-radius: 25px;
 font-size: 20px;
text-align: center;
font-family: Segoe UI;
color: whitesmoke;
position:absolute;
left: 80px;
top: 35px;
}
.asos-util-button{
 -webkit-border-horizontal-spacing: 40px;
}
.asos-admin-content{
   border-radius: 4px;
   border: 2px solid red;
}
.asos-admin-content ul{
 list-style-type: none;
 display: inline-block;
}
.asos-admin-content-nav{
   background-color: teal;
}
.asos-admin-content-nav-menuItem{
   color: whitesmoke;
   font-family: Segoe UI;
   background-color: red;
}
a:-webkit-any-link {
  text-decoration: none;
  color: whitesmoke;
   
}
.asos-admin-content-nav-menuItem a{
    color: whitesmoke;
 font-weight: bold;
   text-decoration: none;
}
.asos-admin-content-nav-menuItem a:first-child(){
    color: whitesmoke;
 font-weight: bold;
   text-decoration: none;
}
.asos-maximize-button{
background-color: gold;
width: 20px;
height: 27px;
  border-radius: 25px;
 font-size: 25px;
text-align: center;
font-family: Segoe UI;
color: whitesmoke;
position:absolute;
left: 60px;
top: 35px;
}